img {
width: 200px; 
height: 200px;
margin-top: 30px;
margin-left: 10px;
margin-right: 15px;
border-radius: 10%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  border-style: solid;
  border-color: #000;
  border-radius: 5%;
}

#linha-horizontal {
    margin-top: 30px;
    width: 1880px;
    border: 2px solid #FFFFFF;
}

#titulo {
   text-align: center; 
}

p{
  width: 100%;
}
